keys/*
.sshconfig
stats.log
logs/*
accounts/*.json
.syncthing.*
selected.conf
.DS_store
*.swp
authorized_keys
boxes/*
archive/*
tmp/*
axiom.json
images/json/axiom.json
images/pkr.hcl/axiom.pkr.hcl
images/axiom.json
interact/includes/functions.sh
selected.conf
interact/includes/.auto_update
create-options.json
token.txt